body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}


.footer,
.hero {
    background-color: #1F2937;
}

.logo  {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0px 30vh;
}

.hero-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 100px;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

.hero-l {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    width: 400px;
    gap: 8px;
}

.main-pic {
    width: 600px;
    height: 220px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.main-text  {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text,
.link-text  {
    font-size: 18px;
    color: #E5E7EB;
}


button  {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0px 100px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 60px;

}

.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 100px;
    
}

.info-pic {
    width: 150px;
    height: auto;
    border-radius: 6px;

}

.card {
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    
}

p {
    color: #27313f;
    font-size: 12px;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 260px;
    gap: 8px;
}

.testie {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.name {
    font-weight: 700;
    text-align: end;
}

.ad-space {
    background-color: #3882F6;
    display: flex;
    margin: 100px;
    justify-content: space-around;
    padding: 60px 40px;
    border-radius: 6px;
    align-items: center;
}

.ad-header {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 22px;
}

.ad-text {
    color: #E5E7EB;
    font-size: 16px;
}

.footer {
    color: #E5E7EB;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}